{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>出错啦～</title>

    <link rel="stylesheet" href="{% static 'form_1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'form_1/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'form_1/css/tooplate.css' %}">
</head>

<body id="application" style="background-image: url(/activity_submit{{ background_img.url }})">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  mx-auto">
                <header class="mt-5 mb-5 text-center">
                    <h3><b>重复提交</b></h3>
                    <p class="tm-form-description">{{ academy }} {{ class_num }}班的{{ name }}同学,</p>
                    <p class="tm-form-description">你已经报过名啦，请不要重复提交哦～</p>
                    <p class="tm-form-description">你的队伍号是{{ team_id }}</p>
                    <p class="tm-form-description">你的队伍成员有：</p>
                    {% for teammate_name in teammate_names %}
                        <p class="tm-form-description">{{ teammate_name.name }}</p>
                    {% endfor %}
                    <p class="tm-form-description">如果以上信息有误，请联系管理员修改～</p>
                    <br>
                    <p class="tm-form-description">QQ群号</p>
					<img width="200" src="/activity_submit{{ qq_QRcode.url }}" alt="二维码加载失败">
                </header>
            </div>
        </div>
        <footer class="row tm-mt-big mb-3">
            <div class="col-xl-12 text-center">
                <p class="d-inline-block tm-bg-black white-text py-2 tm-px-5">
                    欢迎加入科协大家庭，深入了解请访问-
					<a href="http://tw.cczu.edu.cn/dxskx/main.htm" target="_blank" title="科协官网">科协官网</a></p>
            </div>
        </footer>
    </div>

</body>

</html>