<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>校科协招新线上报名</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "form_1/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "form_1/css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "form_1/css/tooplate.css" %}">
</head>

<body id="application" style="background-image: url({% static 'form_1/img/input-bg-03.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  mx-auto">
                <header class="mt-5 mb-5 text-center">
                    <h4><b>常州大学大学生科学技术协会</b></h4>
                    <h3><b>线上报名已截止</b></h3>
                    <p class="tm-form-description">Oops～ 很不巧，我们线上报名已经截止了，但是不要慌，来晚的小伙伴可以加QQ群：820201084联系管理员报名哦</p>
                </header>

            </div>
        </div>
        <footer class="row tm-mt-big mb-3">
            <div class="col-xl-12 text-center">
                <p class="d-inline-block tm-bg-black white-text py-2 tm-px-5">
                    为方便后续通知，请加入校科协招新群：820201084
                    <br>请各位萌新认真填写一下信息哦，填写完后检查无误后提交，重复提交无效。如有信息填错提交的，请联系招新群内管理员进行信息修改。谢谢合作，期待今后与你一起走过快乐的大学时光~
                    本系统由校科协网信部提供技术支持~
                </p>
            </div>
        </footer>
    </div>
</body>
</html>
