<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>校科协招新线上报名</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "tooplate.css" %}">
</head>

<body id="application" style="background-image: url({% static 'input-bg-03.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  mx-auto">
                <header class="mt-5 mb-5 text-center">
                    <h4><b>常州大学大学生科学技术协会</b></h4>
                    <h3><b>招新报名</b></h3>
                    <p class="tm-form-description">请各位萌新认真填写一下信息哦，填写完后检查无误后提交，重复提交无效。如有信息填错提交的，请联系招新群内管理员进行信息修改。谢谢合作，期待今后与你一起走过快乐的大学时光~</p>
                </header>
                <form action="{% url 'new_person' %}" method="post" enctype="multipart/form-data" class="tm-form-white tm-font-big">
                    {% csrf_token %}
                    <div class="tm-bg-white tm-form-pad-big">
                        <div class="form-group mb-5">
                            <b><label for="name" class="black-text mb-4 big">姓名：</label></b>
                            <input id="name" name="name" type="text" class="validate tm-input-white-bg" required>
                        </div>

                        <div class="form-group md-5">
                            <b><label for="sex" class="black-text mb-4 big">选择性别</label> </b>
                            <div>
                                <label class="with-gap">
                                    <input class="with-gap" name="sex" type="radio" value="男" required>
                                    <span><b>男</b></span>
                                </label>
                                <label class="with-gap">
                                    <input class="with-gap" name="sex" type="radio" value="女" required>
                                    <span><b>女</b></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group mb-5">
                            <b><label for="class_num" class="black-text mb-4 big">班级：</label></b>
                            <input id="class_num" name="class_num" type="text" class="validate tm-input-white-bg" required>
                        </div>

                        <div class="form-group md-5">
                            <b><label for="school" class="black-text mb-4 big">选择校区</label></b>
                            <div>
                                <label class="with-gap">
                                    <input class="with-gap" name="school" type="radio" value="武进校区" required>
                                    <span><b>武进校区</b></span>
                                </label>
                                <label class="with-gap">
                                    <input class="with-gap" name="school" type="radio" value="白云校区" required>
                                    <span><b>白云校区</b></span>
                                </label>
                                <label class="with-gap">
                                    <input class="with-gap" name="school" type="radio" value="西太湖校区" required>
                                    <span><b>西太湖校区</b></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group mb-5">
                            <b><label for="phone" class="black-text mb-4 big">手机号：</label></b>
                          <input id="phone" name="phone" type="text" class="validate tm-input-white-bg mb-4" pattern="[0-9]{11}">
                        </div>

                        <div class="form-group mb-5">
                            <b><label for="qq_num" class="black-text mb-4 big">输入QQ号：</label></b>
                          <input id="qq_num" name="qq_num" type="text" class="validate tm-input-white-bg mb-4" required>
                        </div>

                        <div class="form-group mb-5">
                            <b><label for="department" class="black-text mb-4 big">选择你想去的部门</label></b>
                                <div>
                                    <label class="with-gap">
                                        <input class="with-gap" name="department" type="radio" value="办公室" required/>
                                        <span><b>办公室</b></span>
                                    </label>
                                    <label>
                                        <input class="with-gap" name="department" type="radio" value="科创部" required/>
                                        <span><b>科创部</b></span>
                                    </label>
								    <label>
                                        <input class="with-gap" name="department" type="radio" value="外联部" required/>
                                        <span><b>外联部</b></span>
                                    </label>
								    <label>
                                        <input class="with-gap" name="department" type="radio" value="网信部" required/>
                                        <span><b>网信部</b></span>
                                    </label>
								    <label>
                                        <input class="with-gap" name="department" type="radio" value="宣传部" required/>
                                        <span><b>宣传部</b></span>
                                    </label>
								    <label>
                                        <input class="with-gap" name="department" type="radio" value="项管部" required/>
                                        <span><b>项管部</b></span>
                                    </label>
                                </div>
                        </div>

                        <div class="form-group md-5">
                            <b><label for="changeable" class="black-text mb-4 big">是否服从调剂</label></b>
                            <div>
                                <label class="with-gap">
                                    <input class="with-gap" name="changeable" type="radio" value="是" required>
                                    <span><b>是</b></span>
                                </label>
                                <label class="with-gap">
                                    <input class="with-gap" name="changeable" type="radio" value="否" required>
                                    <span><b>否</b></span>
                                </label>
                            </div>
                        </div>

</div>
                    <div class="text-center mt-5">
                        <button type="submit" class="waves-effect btn-large btn-large-white"><b>提交</b></button>
                    </div>
                </form>
            </div>
        </div>
        <footer class="row tm-mt-big mb-3">
            <div class="col-xl-12 text-center">
                <p class="d-inline-block tm-bg-black white-text py-2 tm-px-5">
                    为方便后续通知，请加入校科协招新群：820201084
                    <br>
                    本系统由校科协网信部提供技术支持~
                </p>
            </div>
        </footer>
    </div>
</body>
</html>
